.services{
  padding: 100px 0;
  background-image: url("../../Assets/Images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}
.services-wrapper {
  &__title {
    max-width: 800px;
    font-size: 64px;
    line-height: 64px;
    font-weight: 800;
    color: #1b5bf7;
    margin-bottom: 43px;
  }
}

.services-card {
  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 80px;
  }
  &__item {
    width: 31.5%;
    height: 210px;
    margin-bottom: 24px;
    padding: 32px;
    border-radius: 8px;
    background-color: #f4f7ff;
  }
  &__item > img {
    margin-bottom: 24px;
  }

  &__title {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #18191f;
    margin-bottom: 20px;
  }
}
