.contact-section {
  padding: 80px 0;
  background-image: url("../../Assets/Images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-title {
  max-width: 800px;
  font-size: 64px;
  line-height: 64px;
  font-weight: 800;
  color: #1b5bf7;
}

.input-invalid {
  display: none;
  color: red;
  margin-bottom: 10px;
  font-size: 16px;
  margin-bottom: 16px;
}

.input-field:invalid .input-invalid {
  display: flex;
}
.contact-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 80px;
  padding: 40px 98px 88px;
  border-radius: 10px;
  box-shadow: 2px 10px 28px rgba(75, 0, 129, 0.12);
  background-color: #fff;

  &__all {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 944px;
    margin-top: 16px;
  }

  &__content-title {
    font-size: 20px;
    line-height: 30px;
    color: #0f001a;
    // margin-bottom: 20px;
  }

  &__address-item {
    margin-bottom: 24px;
  }

  &__address-item img {
    margin-right: 15px;
  }

  &__address-item__link {
    display: flex;
    align-items: center;
    max-width: 348px;
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    color: #190a24a4;
  }
  &__messenjer-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }

  &__messenjer-item__img {
    fill: #1b5bf7;
    transition: 0.3s ease-in-out;
    width: 24px;
    height: 24px;
  }
  &__messenjer-item__img:hover {
    fill: red;
  }
}

form {
  width: 421px;
  margin-bottom: 26px;
}
.form-group {
  position: relative;
  margin-bottom: 20px;
}

.input-field {
  max-width: 425px;
  width: 100%;
  font-size: 12px;
  border: 1px solid #878787;
  border-radius: 5px;
  padding: 18.5px 14px;
  outline: none;
}

.text-area {
  max-width: 425px;
  min-height: 122px;
  width: 100%;
  height: 100%;
}

// .input-field:valid{
//   border: none;
//   outline: 2px solid green;
//   border-radius: 5px;
// }

.floating-label {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: top 0.3s, font-size 0.3s;
  color: #878787;
}

.input-field:focus + .floating-label,
.text-area,
.input-field:not(:placeholder-shown) + .floating-label {
  top: -15px;
  font-size: 20px;
  color: #878787;
  background-color: #fff;
  padding-right: 10px;
  padding-left: 2px;
}

.input-field {
  color: #878787;
}
